.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.navbar-item {
    margin: 0 8px;
    min-height: 26px;
}

.navbar-item,
.navbar-item-link {
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300
}

.navbar-item,
.navbar-item-link,
.navbar-icon {
    display: inline-flex;
    align-items: center;
}

.navbar-item:hover,
.navbar-icon-link:hover,
.navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.navbar-item--has-qr:hover .header__qr {
    display: block;
}
.navbar-item--strong {
    font-weight: 400;
}

.navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border-left: 1px solid #fb9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/*Header QR code*/
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header__qr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
    display: block;
}
.header__qr-img{
    width: 100%;
}

.header__qr-download-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-download-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img {
    height: 16px;

}

