.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.navbar-item {
    margin: 0 8px;
}

.navbar-item,
.navbar-item-link {
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300
}

.navbar-item:hover,
.navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.navbar-item--strong {
    font-weight: 400;
}

.navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border-left: 1px solid #fb9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}